html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, Inter, system-ui, "Segoe UI", sans-serif;
}
.padded {
    padding: 10px 50px;
}
.main > .title {
    font-size: 28px;
    margin-top: 25px;
}
a.link {
    color: #0063ff;
    text-decoration: none;
}
a.link:hover {
    text-decoration: underline;
}
.input {
    display: block;
    width: calc(100% - 34px);
    outline: none;
    background-color: #ffffff;
    padding: 10px 15px;
    font-size: 16px;
    font-family: inherit;
    border-radius: 7px;
    border: 2px solid #e9e9e9;
    font-weight: 500;
}
.input:focus {
    border: 2px solid #3d8cf2;
}
.label {
    font-weight: 500;
    color: #454545;
    margin-bottom: 5px;
    display: inline-block;
}
.btn {
    display: inline-flex;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 1px 4px #0000002b;
    font-size: 17px;
    align-items: center;
}
.btn-primary {
    background-color: #0095ff;
    color: white;
}
.btn.btn-primary:hover {
    background-color: #0086e5;
}
.btn-secondary {
    box-shadow: none;
    background-color: #e9e9e9;
    color: #1b1b1b;
}
.btn.btn-secondary:hover {
    background-color: #e0e0e0;
}
.btn-primary svg {
    width: 20px;
    fill: white;
    margin-right: 10px;
}
.btn-secondary svg {
    width: 20px;
    fill: #1b1b1b;
    margin-right: 10px;
}
.tox-notification--warning {
    display: none !important;
}
.tox-tinymce {
    border: 2px solid #e9e9e9 !important;
}